body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0),rgba(0,0,0,0)),url(https://img.freepik.com/premium-photo/birthday-party-background-yellow_1220-3631.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
h1{
    color: white;
    margin: 40px;
}
.message{
    color: white;
}
